# Canonical author identity for DockVerseHub.
# git log / shortlog / blame map every historical alias to this address.
Satvik Praveen <satvikpraveen707@gmail.com> SatvikPraveen <satvikpraveen707@gmail.com>
Satvik Praveen <satvikpraveen707@gmail.com> Satvik_44 <99745561+SatvikPraveen@users.noreply.github.com>
Satvik Praveen <satvikpraveen707@gmail.com> GitHub Action <action@github.com>
